- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#one.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-1-1.png"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-2.png"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-3.png"}/


.body
  .center
    .content
      #one.left
        %a.container{:href => "/about"}
          %h1 Personal Care
          %h3 
            Private Day Time Health Care
            %br
            Doctor Appointments
            %br
            House Cleaning (very quick and thorough)
            %br
            Grocery Shopping &amp; Personal Shopping
      #one.middle
        %a.container{:href => "/services"}
          %h1 Other Services
          %h3
            Car Maintenance &amp; Service Trips
            %br
            Setting Up Christmas Tree &amp; Decorating
            %br
            Truck Available
      #one.right
        %a.container{:href => "/contact"}
          %h1 Call Jack 713.305.2192
          %h3
            20+ Years Experience!
            %br
            Professional references available upon request.